<h1>New Snowboard</h1>
<form action="/companies/{{companyId}}/snowboards" method='POST'>
   <label for="name">Name:</label>
   <input type="text" name='name'>
   <br>
   <label for="price">Price:</label>
   <input type="text" name='price'>
   <br>
   <button type='submit'>Create</button>
</form>