<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <hr>
      <a href="/">Home</a>
      <a href="/companies/">Companies</a>
      <hr>
      <br><br>
    </nav>
    {{{body}}}
  </body>
</html>
